<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login | NexaTech</title>
  <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <header>
    <div class="logo-contenedor">
        <img src="/static/imagenes/logo_nexatech.png" alt="Logo NexaTech" class="logo">
    </div>
    <nav>
        <a href="/templates/index.html">Inicio</a>
        <a href="/templates/servicios.html">Servicios</a>
        <a href="/templates/portafolio.html">Portafolio</a>
        <a href="/templates/nosotros.html">Nosotros</a>
        <a href="/templates/contacto.html">Contacto</a>
        <a href="/templates/login.html">Login</a>
        <a href="/templates/register.html">Registro</a>
    </nav>
</header>
<br><br><br><br>
<h2>Iniciar sesión</h2>
<form method="post">
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
</form>
<script src="/static/js/app.js"></script>
</body>
</html>
